/* //establishing variables for colors here */
:root {
    /*color variables established here first */


    --red-100: #f3bcba;
    --red-200: #ed9a97;
    --red-300: #e77874;
    --red-400: #505652;
    --red-500: #db3a34;
    --red-600: #d02a25;
    --red-700: #ad231f;
    --red-800: #8b1c18;
    --red-900: #57120f;


    --yellow-100: #ffebc2;
    --yellow-200: #ffdd99;
    --yellow-300: #ffcf70;
    --yellow-400: #ffc145;
    --yellow-500: #ffb41f;
    --yellow-600: #f5a300;
    --yellow-700: #cc8800;
    --yellow-800: #a36d00;
    --yellow-900: #8f5800;



}


@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;

    /*specifically used to determine where our objects end */
    /* border: 1px solid red ; */
}

/*type scale for desktop sites is at 1.250*/
html {
    font-size: calc(14px + (18 - 14) * ((100vw - 400px) / (1800 - 400)));
}


body {
    font-weight: 400;
    line-height: 1.75;
  }

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
  }

  //change the selection color
::-moz-selection { /* Code for Firefox */
  color: #467263;
  background: #e6efec;
}

::selection {
  color: #467263;
  background: #e6efec;
}


//anything with a green bg highlights differently
.heroCont h1::-moz-selection, 
.heroCont h2::-moz-selection, 
.heroCont span::-moz-selection,
.getCardExpander h3::-moz-selection,
.getCardExpander p::-moz-selection,
.getCardExpander span::-moz-selection,
.midContact h3::-moz-selection, 
.includeItem h3::-moz-selection, 
.includeItem p::-moz-selection, 
.includeItem span::-moz-selection, 
#Contact h2::-moz-selection, 
#Contact h3::-moz-selection, 
#Contact p::-moz-selection, 
#Contact span::-moz-selection, 
#Contact h4::-moz-selection  { /* Code for Firefox */
  color: #FF4242;
  background: white;
}

.heroCont h1::selection, 
.heroCont h2::selection, 
.heroCont span::selection, 
.getCardExpander h3::selection, 
.getCardExpander p::selection, 
.getCardExpander span::selection, 
.midContact h3::selection, 
.includeItem h3::selection, 
.includeItem p::selection, 
.includeItem span::selection, 
#Contact h2::selection, 
#Contact h3::selection, 
#Contact p::selection, 
#Contact span::selection, 
#Contact h4::selection  {
  color: #FF4242;
  background: white;
}

  /* h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;} */

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/* setting up scroll margin pieces */
@media only screen and (max-width: 768px) {
  #WhatWeDo, #AboutOurSites, #Contact {
    scroll-margin-top: 80px;
  }
}



@import '../styles/nav.css';
@import '../styles/hero.css';
/* @import '../styles/get.css';
@import '../styles/includeSection.css';
@import '../styles/contact.css'; */
